body {
    font-family: Helvetica;
    margin: 0;
}
nav {
    margin-bottom: 16px;
}

input[type=text] {
    font-size: larger;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
    max-width: 300px;
    height: 35px;
    border-radius: 5px;
    border: none;
}
form {
    margin-top: 16px;
}
.foos-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: #383838;
    font-size: 25pt;
    font-weight: 600;
    box-shadow: 0px 2px 5px 1px darkgrey;


}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

.full-width {
    width: 100%;
}

td, th {
    border: 1px solid #bebebe;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #d8dee7;
}

.app {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /*justify-content: flex-start;*/
}
#game-start {
    display: flex;
    margin: 20px;
    align-items: center;
    justify-content: center;
}
.app-section {
    margin: 32px;
}

.clickable {
    cursor: pointer;
}


.btn-primary {
    background-color: black;
    color: white;
    margin-right: 16px;
    padding: 8px;
    border: none;
    text-decoration: none;
    border-radius: 3px;
    cursor: pointer;
}
.btn-primary:hover {
    background-color: #454545;
}

/* --------- Start Game section --------- */

.start-game {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: lightgray;
    margin: 15px;
    box-shadow: 0px 2px 3px 2px #b1b1b1;
    transition: padding 1s;
}
.start-game-header  {
    font-size: 18pt;
    margin-left: 10px;
    font-weight: bold;
    color: #252525;
}
.start-game:hover {
    background-color: #cccccc
}
/* --------- Stream section --------- */

.live-stream {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 15px;
}

.stream-img {
    border: 5px solid lightgray;
    box-shadow: 0px 2px 3px 2px #b1b1b1;
    width: 330px;
    height: 250px;
}
.stream-img:hover {
    border: 5px solid #cccccc;
}
/* --------- Data section --------- */
.data-container {
    background-color: lightgrey;
    margin: 15px;
    padding: 10px 0;
    box-shadow: 0px 2px 3px 2px #b1b1b1;
}
.data-container:hover {
    background-color: #cccccc
}
.data-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    margin: 0 10px;
}
.data-header {
    font-size: 18pt;
    font-weight: bold;
}
.data-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.player-stats {
    margin-bottom: auto;
}
/* ---------- CSS helper classes ------- */

.mr-1 {
    margin-right: 5px;
}

.mr-2 {
    margin-right: 10px;
}
.mr-3 {
    margin-right: 15px;
}

.ml-1 {
    margin-left: 5px;
}

.ml-2 {
    margin-left: 10px;
}
.ml-3 {
    margin-left: 15px;
}

.mt-1 {
    margin-top: 5px;
}

.mt-2 {
    margin-top: 10px;
}

.mt-3 {
    margin-top: 15px;
}
.mb-1 {
    margin-bottom: 5px;
}

.mb-2 {
    margin-bottom: 10px;
}

.mb-3 {
    margin-bottom: 15px;
}

.text-align-center {
    text-align: center;
}
