<table id="leaders-table" *ngIf="sortedLeaders.length > 0">
  <thead>
    <tr>
      <th class="clickable" (click)="sortLeaders('player_one_name')">Teammates<i></i></th>
      <th class="clickable" (click)="sortLeaders('position')">Position<i></i></th>
      <th class="clickable" (click)="sortLeaders('ranking')">Rank<i></i></th>
      <th class="clickable" (click)="sortLeaders('won')">Won<i></i></th>
      <th class="clickable" (click)="sortLeaders('lost')">Lost<i></i></th>
      <th class="clickable" (click)="sortLeaders('played')">Played<i></i></th>
      <th class="clickable" (click)="sortLeaders('percentage')">Percentage<i></i></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let leader of sortedLeaders">
      <td><span *ngIf="leader.position === 1" class="mdi mdi-crown first-position"></span><button (click)="showTeamStats(leader.team_id)">{{leader.player_one_name}} - {{leader.player_two_name}}</button></td>
      <td>{{leader.position}}</td>
      <td>{{leader.ranking}}</td>
      <td>{{leader.won}}</td>
      <td>{{leader.lost}}</td>
      <td>{{leader.played}}</td>
      <td>{{ +(leader.percentage * 100).toFixed(2) }} %</td>
    </tr>
  </tbody>
</table>
<div class="no-results" *ngIf="sortedLeaders.length === 0">
  No results <span class="mdi mdi-emoticon-poop"></span>
</div>
