<div>
  <div class="foos-header">
    <i class="mr-3 ion-md-football"></i>
    Foosball
    <i class="ml-3 ion-md-football"></i>
  </div>

  <!-- New Match Section-->
  <div class="start-game">
    <div class="ml-2 start-game-header">
      <i class="mr-1 ion-md-football"></i>
      Start A Game
    </div>
    <div>
      <a class="btn-primary" (click)="newMatch(true)">
        <i class="ion-md-flame mr-1"></i>
        Gauntlet!
      </a>
      <a class="btn-primary" (click)="newMatch(false)">
        <i class="ion-md-flower mr-1"></i>
        Other
      </a>
    </div>
  </div>
  <!-- Data Section-->
  <div class="data-container">
    <div class="data-header-container">
      <div class="data-header">
        <i class="ion-md-grid mr-1"></i>
        Foosball Data
      </div>
      <a class="btn-primary mb-2" routerLink="/leaderboard">
        <i class="mr-1 ion-md-trophy"></i>
        Leaderboard
      </a>
    </div>
    <div class="data-section">


      <datalist id="players">
        <option *ngFor="let player of players" value="{{player.name}}">{{player.name}}</option>
      </datalist>

      <div>
        <h4>Team Stats</h4>
        <form action="/teamstats" method="get">
          <input name="player_one" type="text" list="players">
          <br>
          <input name="player_two" type="text" list="players">
          <br>
          <input class="btn-primary" type="submit" value="Get Team Stats">
        </form>
      </div>
      <div class="player-stats">
        <h4>Player Stats</h4>
        <form action="/playerstats" mthod="get">
          <input name="player_name" type="text" list="players">
          <br>
          <input class="btn-primary" type="submit" value="Get Player Stats">
        </form>
      </div>

    </div>
  </div>
  <!-- Live Stream Section-->
  <div class="live-stream">
    <img class="stream-img" src="http://foos-camera.cen.centeva.com:8081/"/>
  </div>
</div>
