.foos-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: #383838;
  font-size: 25pt;
  font-weight: 600;
  box-shadow: 0px 2px 5px 1px darkgrey;


}
/* --------- Start Game section --------- */

.start-game {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: lightgray;
  margin: 15px;
  box-shadow: 0px 2px 3px 2px #b1b1b1;
  transition: padding 1s;
}
.start-game-header  {
  font-size: 18pt;
  margin-left: 10px;
  font-weight: bold;
  color: #252525;
}
.start-game:hover {
  background-color: #cccccc
}
/* --------- Stream section --------- */

.live-stream {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 15px;
}

.stream-img {
  border: 5px solid lightgray;
  box-shadow: 0px 2px 3px 2px #b1b1b1;
  width: 330px;
  height: 250px;
}
.stream-img:hover {
  border: 5px solid #cccccc;
}
/* --------- Data section --------- */
.data-container {
  background-color: lightgrey;
  margin: 15px;
  padding: 10px 0;
  box-shadow: 0px 2px 3px 2px #b1b1b1;
}
.data-container:hover {
  background-color: #cccccc
}
.data-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  margin: 0 10px;
}
.data-header {
  font-size: 18pt;
  font-weight: bold;
}
.data-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.player-stats {
  margin-bottom: auto;
}
