.game-type {
  display: flex;
  align-items: center;
  font-size: 14pt;
  &:hover {
    background-color: whitesmoke;
  }

  padding: 5px 0;
  margin: 5px 0;
}
.new-match-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .player-container {
    display: flex;
    justify-content: center;
  }

}

.result-header {
  display: flex;
  justify-content: space-between;
  font-size: 17pt;
  border-bottom: 1px solid;
  font-weight: 600;
}
.game-container {
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  .team {
    display: flex;
    font-size: 16pt;
    background-color: whitesmoke;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 5px;
    &:hover {
      background-color: #dddddd;
      cursor: pointer;
    }
  }
  .spread-input{
    width: 22px;
    margin-left: 20px;
  }

}
.spread {
  display: flex;
  justify-content: center;
}
.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .err {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightyellow;
    padding: 21px;
    border-radius: 2px;
    font-size: 15pt;
    border: 1px solid #d8d8ae;
  }
}
