
.checkbox-input {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: darkgray;

  &.disabled {
    cursor: default;
    background-color: #e9ecef;

    .icon-check-square {
      color: darkgray;
    }
  }
}
