<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/styles.css">
		<link href="https://unpkg.com/ionicons@4.5.10-1/dist/css/ionicons.min.css" rel="stylesheet">
    </head>
    <body>
		<div class="foos-header">
			<i class="mr-3 ion-md-football"></i>
			The Foosball App!
			<i class="ml-3 ion-md-football"></i>
		</div>
        <div class="app">
            <!-- Live Feed Section -->
			<div class="app-section">
					<h2>Current Game Feed</h2>
					<img src="http://foos:8081/"/>
            </div>
            
            <!-- Data Section -->
            <div class="app-section">
					<h2>Data</h2>
					<a class="btn-primary" href="/leaderboard">Leaderboard</a>
			
					<datalist id="players">
						{% for player in players %}
							<option value="{{player.name}}">{{player.name}}</option>
						{% endfor %}
					</datalist>
			
					<h4>Team Stats</h4>
					<form action="/teamstats" method="get">
						<input name="player_one" type="text" list="players">
						<br>
						<input name="player_two" type="text" list="players">
						<br>
						<input class="btn-primary" type="submit" value="Get Team Stats">
                    </form>
                    
                    <h4>Player Stats</h4>
                    <form action="/playerstats" mthod="get">
                        <input name="player_name" type="text" list="players">
                        <br>
                        <input class="btn-primary" type="submit" value="Get Player Stats">
                    </form>
			</div>
            
            <!-- New Match Section-->
			<div class="app-section">
					<h2>Start a Match</h2>
					<nav>
						<a class="btn-primary" href="/new/gauntlet">Gauntlet!</a>
						<a class="btn-primary" href="/new/match">Other</a>
					</nav>
			</div>
		</div>
	</body>
</html>
