<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <style>
            body {
                font-family: Helvetica;
            }
            nav a {
                background-color: black;
                color: white;
                margin-right: 16px;
                padding: 8px;
                border: none;
                text-decoration: none;
            }
        </style>
    </head>
    <body>
        <h1>The Foosball App!</h1>
        <h2>Select Game Type</h2>
        <nav>
            <a href="/new/gauntlet">Gauntlet!</a>
            <a href="/new/match">Other</a>
        </nav>
    </body>
</html>