<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/styles.css">
        <script>
            const directions = Array.from({length:13}).map(x => true);

            function sortTable(column_index, column_type) {
                var table, rows, switching, i, x, y, shouldSwitch;
                table = document.getElementById("leaders-table");
                switching = true;
                directions[column_index] = !directions[column_index];
                let direction = directions[column_index];
                while (switching) {
                    switching = false;
                    rows = table.rows;
                    for (i = 1; i < (rows.length - 1); i++) {
                        shouldSwitch = false;
                        x = rows[i].getElementsByTagName("TD")[column_index];
                        y = rows[i + 1].getElementsByTagName("TD")[column_index];
                        if ( direction && ((column_type !== 'number' && x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase())
                            || (column_type === 'number' && (+x.innerHTML) > (+y.innerHTML)))) {
                            shouldSwitch = true;
                            break;
                        }

                        if ( !direction && ((column_type !== 'number' && x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase())
                            || (column_type === 'number' && (+x.innerHTML) < (+y.innerHTML)))) {
                            shouldSwitch = true;
                            break;
                        }
                    }
                    if (shouldSwitch) {
                        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                        switching = true;
                    }
                }
            }
        </script>
    </head>
    <body>
        <h1>The Foosball App!</h1>
        <h2>Leaders</h2>
		<p>Leaders are sorted by: "ranking" &gt; "win percentage" &gt; "average winning spread" &gt; "highest winning spread" &gt; "number of games played" </p>
        <table id="leaders-table" class="full-width">
                <tr>
                    <th class="clickable" onclick="sortTable(0, 'number')">Position</th>
					<th class="clickable" onclick="sortTable(1, 'notnumber')">Player</th>
					<th class="clickable" onclick="sortTable(2, 'number')">Rank</th>
                    <th class="clickable" onclick="sortTable(3, 'number')">Won</th>
                    <th class="clickable" onclick="sortTable(4, 'number')">Lost</th>
                    <th class="clickable" onclick="sortTable(5, 'number')">Played</th>
                    <th class="clickable" onclick="sortTable(6, 'number')">Percentage</th>
                    <th class="clickable" onclick="sortTable(7, 'number')">Best Spread(Win)</th>
                    <th class="clickable" onclick="sortTable(8, 'number')">Worst Spread(Loss)</th>
                    <th class="clickable" onclick="sortTable(9, 'number')">Worst Spread(Win)</th>
                    <th class="clickable" onclick="sortTable(10, 'number')">Best Spread(Loss)</th>
                    <th class="clickable" onclick="sortTable(11, 'number')">Average Spread(Win)</th>
                    <th class="clickable" onclick="sortTable(12, 'number')">Average Spread(Loss)</th>
                </tr>
            {% for leader in leaders %}
                <tr>
                    <td>{{loop.index0}}</td>
					<td>{{leader.player_name}}</td>
					<td>{{leader.ranking}}</td>
                    <td>{{leader.games_won}}</td>
                    <td>{{leader.games_lost}}</td>
                    <td>{{leader.games_played}}</td>
                    <td>{{leader.percentage * 100 | round(method="ceil", precision=2) }}</td>
                    <td>{{leader.highest_winning_spread}}</td>
                    <td>{{leader.highest_losing_spread}}</td>
                    <td>{{leader.lowest_winning_spread}}</td>
                    <td>{{leader.lowest_losing_spread}}</td>
                    <td>{{leader.average_winning_spread}}</td>
                    <td>{{leader.average_losing_spread}}</td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>