<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <h1>The Foosball App!</h1>
        <h2>New {{ match_type }}</h2>
        <h3>Select Players</h3>
        
        <datalist id="players">
            {% for player in players %}
                <option value="{{player.name}}">{{player.name}}</option>
            {% endfor %}
        </datalist>

        <form action="/play" method="post">
            {% for i in num_players %}
                <input name="player_{{i}}" type="text" list="players">
                <br>
            {% endfor %}
            <input type="submit" value="Start Game">
        </form>
    </body>
</html>