<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <h1>The Foosball App!</h1>
        <h2>Player Stats For {{name}}</h2>
        <table>
                <tr>
                    <th>Rank</th>
                    <th>Won</th>
                    <th>Lost</th>
                    <th>Played</th>
                    <th>Percentage</th>
                </tr>
                <tr>
                    <td>{{stats.rank}}</td>
                    <td>{{stats.won}}</td>
                    <td>{{stats.lost}}</td>
                    <td>{{stats.played}}</td>
                    <td>{{stats.percentage * 100  | round(method="ceil", precision=2) }}</td>
                </tr>
        </table>
    </body>
</html>