<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <style>
            body {
                font-family: Helvetica;
            }
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                /*width: 100%;*/
            }

            td, th {
                border: 1px solid #bebebe;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #d8dee7;
            }
        </style>
    </head>
    <body>
        <h1>The Foosball App!</h1>
        <h2>Player Stats For {{name}}</h2>
        <table>
                <tr>
                    <th>Won</th>
                    <th>Lost</th>
                    <th>Played</th>
                    <th>Percentage</th>
                </tr>
                <tr>
                    <td>{{stats.won}}</td>
                    <td>{{stats.lost}}</td>
                    <td>{{stats.played}}</td>
                    <td>{{stats.percentage * 100  | round(method="ceil", precision=2) }}</td>
                </tr>
        </table>
    </body>
</html>