<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <h1>The Foosball App!</h1>
        <h2>Team Stats For {{player_one}} and {{player_two}}</h2>
        <table>
                <tr>
                    <th>Won</th>
                    <th>Lost</th>
                    <th>Played</th>
                    <th>Percentage</th>
                </tr>
                <tr>
                    <td>{{stats.won}}</td>
                    <td>{{stats.lost}}</td>
                    <td>{{stats.played}}</td>
                    <td>{{stats.percentage * 100}}</td>
                </tr>
        </table>

        <h2>Vs Other Teams</h2>
        <table>
                <tr>
                    <th>Against</th>
                    <th>Won</th>
                    <th>Lost</th>
                    <th>Played</th>
                    <th>Percentage</th>
                </tr>
                {% for stat in vs_stats %}
                <tr>
                    <td>{{stat.player_three}} and {{stat.player_four}}</td>
                    <td>{{stat.won}}</td>
                    <td>{{stat.lost}}</td>
                    <td>{{stat.played}}</td>
                    <td>{{stat.percentage * 100  | round(method="ceil", precision=2) }}</td>
                </tr>
                {% endfor %}
        </table>
    </body>
</html>