body {
  font-family: Helvetica;
  margin: 0;
  background-color: #17293e;
  color: #f2a003;
  padding: 16px;
}

nav {
  margin-bottom: 16px;
}

input[type=text],
input[type=password] {
  font-size: larger;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 15px;
  max-width: 300px;
  height: 35px;
  border-radius: 5px;
}
form {
  margin-top: 16px;
}

.app {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /*justify-content: flex-start;*/
}
#game-start {
  display: flex;
  margin: 20px;
  align-items: center;
  justify-content: center;
}
.app-section {
  margin: 32px;
}

.clickable {
  cursor: pointer;
}


.btn-foos {
  background-color: #ce313e;
  color: white;
  margin-right: 16px;
  padding: 8px;
  border: none;
  text-decoration: none;
  border-radius: 3px;
  cursor: pointer;
  white-space: nowrap;
}
.btn-foos:hover {
  background-color: #ab2934;
}

.column-form{
  display: flex;
  flex-direction: column;
}

/* ---------- CSS helper classes ------- */

.mr-1 {
  margin-right: 5px;
}

.mr-2 {
  margin-right: 10px;
}
.mr-3 {
  margin-right: 15px;
}

.ml-1 {
  margin-left: 5px;
}

.ml-2 {
  margin-left: 10px;
}
.ml-3 {
  margin-left: 15px;
}

.mt-1 {
  margin-top: 5px;
}

.mt-2 {
  margin-top: 10px;
}

.mt-3 {
  margin-top: 15px;
}
.mb-1 {
  margin-bottom: 5px;
}

.mb-2 {
  margin-bottom: 10px;
}

.mb-3 {
  margin-bottom: 15px;
}

.text-align-center {
  text-align: center;
}
