<div class="leaderboard-container">

  <h1>The Foosball App!</h1>
  <h2>Leaders</h2>
  <p>Leaders are sorted by: "ranking" &gt; "win percentage" &gt; "average winning spread" &gt; "highest winning spread" &gt; "number of games played" </p>
  <table id="leaders-table" class="full-width">
    <tr>
      <th class="clickable" onclick="sortTable(0, 'number')">Position<i></i></th>
      <th class="clickable" onclick="sortTable(1, 'notnumber')">Player<i></i></th>
      <th class="clickable" onclick="sortTable(2, 'number')">Rank<i></i></th>
      <th class="clickable" onclick="sortTable(3, 'number')">Won<i></i></th>
      <th class="clickable" onclick="sortTable(4, 'number')">Lost<i></i></th>
      <th class="clickable" onclick="sortTable(5, 'number')">Played<i></i></th>
      <th class="clickable" onclick="sortTable(6, 'number')">Percentage<i></i></th>
    </tr>
    <tr *ngFor="let leader of leaders | orderBy: 'ranking'; let i = index">
      <td>{{i}}</td>
      <td>{{leader.name}}</td>
      <td>{{leader.ranking}}</td>
      <td>{{leader.won}}</td>
      <td>{{leader.played - leader.won}}</td>
      <td>{{leader.played}}</td>
      <td>{{leader.percentage * 100 }}</td>
    </tr>
  </table>

  <div class="video-container">
    <div class="btn-foos " (click)="showVideo = !showVideo">
      Video explaining how elo ranking works
    </div>

    <div *ngIf="showVideo"  class="mt-3">
      <iframe class="mt-3" width="560" height="315" src="https://www.youtube-nocookie.com/embed/AsYfbmp0To0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>


</div>

