<div class="leaderboard-container">

  <h1>The Foosball App!</h1>
  <h2>Leaders</h2>
  <p>Leaders are sorted by: "Rank" &gt; "Wins" &gt; "Losses" &gt; "Percentage" </p>
  <table id="leaders-table" class="full-width">
    <tr>
      <th class="clickable" (click)="sortLeaders('position')">Position<i></i></th>
      <th class="clickable" (click)="sortLeaders('name')">Player<i></i></th>
      <th class="clickable" (click)="sortLeaders('ranking')">Rank<i></i></th>
      <th class="clickable" (click)="sortLeaders('won')">Won<i></i></th>
      <th class="clickable" (click)="sortLeaders('lost')">Lost<i></i></th>
      <th class="clickable" (click)="sortLeaders('respected')">Respected<i></i></th>
      <th class="clickable" (click)="sortLeaders('played')">Played<i></i></th>
      <th class="clickable" (click)="sortLeaders('percentage')">Percentage<i></i></th>
    </tr>
    <tr *ngFor="let leader of sortedLeaders">
      <td>{{leader.position}}</td>
      <td>{{leader.name}}</td>
      <td>{{leader.ranking}}</td>
      <td>{{leader.won}}</td>
      <td>{{leader.lost}}</td>
      <td>{{ +(leader.respected * 100).toFixed(2) }}</td>
      <td>{{leader.played}}</td>
      <td>{{ +(leader.percentage * 100).toFixed(2) }}</td>
    </tr>
  </table>

  <div class="video-container">
    <div class="btn-foos " (click)="showVideo = !showVideo">
      Video explaining how elo ranking works
    </div>

    <div *ngIf="showVideo"  class="mt-3">
      <iframe class="mt-3" width="560" height="315" src="https://www.youtube-nocookie.com/embed/AsYfbmp0To0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>


</div>

